@font-face {
  font-family: "iconfont"; /* Project id 4550858 */
  src: url('iconfont.woff2?t=1718867523052') format('woff2'),
       url('iconfont.woff?t=1718867523052') format('woff'),
       url('iconfont.ttf?t=1718867523052') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24gf-branches:before {
  content: "\e99d";
}

.icon-liebiao:before {
  content: "\e614";
}

.icon-erweima:before {
  content: "\e601";
}

.icon-tiaoxingma:before {
  content: "\e626";
}

.icon-gongxu:before {
  content: "\e71c";
}

.icon-xianshiqi2:before {
  content: "\e637";
}

.icon-gongju:before {
  content: "\e607";
}

.icon-xitongcanshu:before {
  content: "\e683";
}

.icon-yuangonghuangye:before {
  content: "\e647";
}

.icon-wuliaoguanli-:before {
  content: "\e635";
}

.icon-2610605:before {
  content: "\e7d2";
}

.icon-shebeidianjian:before {
  content: "\e631";
}

.icon-gongdanhao:before {
  content: "\e606";
}

.icon-xianshiqi:before {
  content: "\e600";
}

